  		<div id="login">
        <% if logged_in? %>
          <%= link_to 'Logout', logout_path %>
          <br>[<%= current_user.proper_name %>]
        <% else %>
          <%= link_to 'Login', login_path %><br>
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
        </div>
        <br>
        <div>
        <%=link_to 'Home', home_path%>
        <%=link_to 'Users', users_path%>
        <%=link_to 'Notes', notes_path%>
        <%=link_to 'Courses', courses_path%>
        </div>