<h5>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h5>
<p class="supertiny">&nbsp;</p>

<% unless @notes.empty? %>
  <p><em><strong>Notes matching term '<%= @query %>'</strong></em></p>
  <ul>
    <% for note in @notes do %>
      <li><%= link_to note.title, note_path(note) %>: written by <%= "#{note.user.first_name}" + " #{note.user.last_name}" %></li>
    <% end %>
  </ul>
  <p class="smtext">&nbsp;</p>
<% end %>

<% unless @users.empty? %>
  <p><em><strong>Users matching term '<%= @query %>'</strong></em></p>
  <ul>
    <% for user in @users do %>
      <li><%= link_to user.last_name, user_path(user) %></li>
    <% end %>
  </ul>
  <p class="supertiny">&nbsp;</p>
<% end %>