<!DOCTYPE html>
<html>
  <head>
    <title>Enterprise Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
                  <%= render :partial => "partials/topbar"%>
                  <%= render :partial => "partials/flash" %>
		  </div>
    <%= yield %>
  </body>
</html>
